# Python
__pycache__/
*.pyc
*.pyo
*.so

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Poetry
poetry.lock

# Переменные окружения
.env

# Файлы с секретами
*.env
!.env.example